{% extends 'base.html.twig' %}

{% block title %}Modification d'un outil{% endblock %}

{% block body %}
    <div class="row">
        <h1 class="text-center">Editer un outil</h1>
        <div class="col-md-6 mx-auto">
             {{form(formEditOutil)}}
        </div>
    </div>
{% endblock %}