{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}
    <body style="background-image: url({{ asset('assets/macbook.jpg') }}); background-size:cover; background-reapeat:no-repeat">
        <div class="container">
            <div class="row">
                <div class="presentation">
                    <h3 class="text-center present">Développeur intégrateur web junior</h3>
                    <hr>
                    <p class="text-center present"><strong>NOM :</strong> YAKOU</p>
                    <p class="text-center present"><strong>PRÉNOM :</strong> John</p>
                    <p class="text-center present"><strong>ÂGE :</strong> 23 ans</p>
                    <p class="text-center present"><strong>EMAIL :</strong> jyakou@gmx.fr</p>
                </div>
            </div>
        </div>
    

        <footer class="footerHome" style="background:#0b486b">
            <div class="container">
                <div class="d-flex justify-content-evenly">
                    <p class="text-center text-white"><strong>© YAKOU John | Tous droit réservés</strong></p>

                    <div class="d-flex justify-content-between">
                        <a type="button" href="https://github.com/JohnYakou?tab=repositories" target="_blank"><i class="fa-brands fa-github-square logoFontAwesome"></i></a>

                        <a type="button" href="https://www.linkedin.com/in/john-yakou-8633b41a1/" target="_blank"><i class="fa-brands fa-linkedin logoFontAwesome"></i></a>
                    </div>
                </div>
            </div>
        </footer>
</body>
{% endblock %}
