/* templates/experience/index.html.twig */
.apropos{
    border: 10px solid #0b486b;
    border-radius: 1.5rem;
    font-size: 1.5rem;
    color: #ffdf2bda;
    background-color: #0b486bc7;
    margin-top: 13.5rem;
    padding: 1.5rem;
}

nav{
	background:#0b486b;
}

.nav-link{
    color: #ffdf2b;
    font-size: 1.2rem;
}

.nav-link:hover{
	color: #0b486b;
	background-color: #ffdf2b;
}

.navbar-toggler{
    background: #ffdf2b;
}

.pageContact{
    margin-top: 12rem;
    background-color: #0b486bc7;
    border-radius: 1rem;
}

.pageContact, .form-control{
    font-weight: bold;
    color: white;
}

/* templates/langage/allLangage.html.twig */
.bodyAllLangage{
    background-color: #0b486bde;
}

.competence{
    text-decoration: overline;
}

.boutonsCompetences{
    display: flex;
    justify-content: space-evenly;
}

.competences{
    display: flex;
    justify-content: space-evenly;
}

.progress-bar{
    background: #f1d329;
}

.logoFontAwesome{
    font-size: 2.5rem;
    color: #ffdf2b;
}

.logoFontAwesome:hover{
	color: #2a5f7e;
}

footer{
    margin-top: 2rem;
}

/* templates/home/index.html.twig */
.presentation{
    border: .5rem solid #0b486b;
    border-radius: 1.5rem;
    margin-top: 6.25rem;
    background-color: rgba(255, 255, 255, 0.828);
    padding: 2.5rem;
}

.present{
    color: #ffdf2b;
	margin-top: 6rem;
	background: #0b486b;
}

.present:nth-child(1){
    font-weight: bold;
}

.present:nth-child(2), .present:nth-child(3), .present:nth-child(4), .present:nth-child(5), .present:nth-child(6){
    font-size:larger;
}

.carte-langage{
	width:15rem;
	height:20rem;
}

.colorLangComp{
	color:#ffdf2b;
}

.footerHome{
    margin-top: 5rem;
	color: #ffdf2b;
}

.footerExpe{
    margin-top: 9rem;
	color: #ffdf2b;
}

.footerLang{
	color: #ffdf2b;
}

.footerProjet{
	color: #ffdf2d;
}

.footerContact{
    margin-top: 13rem;
	color: #ffdf2b;
}