{% extends 'base.html.twig' %}

{% block title %}Modification d'un projet{% endblock %}

{% block body %}
    <div class="row">
        <h1 class="text-center">Editer un projet</h1>
        <div class="col-md-6 mx-auto">
             {{form(formEditProjet)}}
        </div>
    </div>
{% endblock %}