{% extends 'base.html.twig' %}

{% block title %}{{projet.nom}}{% endblock %}

{% block body %}
	<section class="bodyAllLangage">

		<br>
		
		<h1 class="text-center colorLangComp">{{projet.nom}}</h1>
		
		<br>

		<div class="container">

		  <div class="card mb-3">
				<img
					style="width: 150; height: 100rem"
					src="{{asset('uploads/image/' ~ projet.image)}}"
				/>
		  </div>
	 	</div>

    {# FOOTER #}
    <footer  style="background:#0b486b">
        <div class="container">
            <div class="d-flex justify-content-evenly py-1">
                <p class="text-center my-2 footerProjet"><strong>© YAKOU John | Tous droit réservés</strong></p>

                <div>
                    <a type="button" href="https://github.com/JohnYakou?tab=repositories" target="_blank"><i class="fa-brands fa-github-square logoFontAwesome"></i></a>

                    <a type="button" href="https://www.linkedin.com/in/john-yakou-8633b41a1/" target="_blank"><i class="fa-brands fa-linkedin logoFontAwesome"></i></a>
                </div>
            </div>
        </div>
    </footer>
	</section>
{% endblock %}