{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <section class="contacter" style="background-image: url({{ asset('assets/email.jpg') }}); background-size:cover">
        
            <div class="container">
                <div class="row">
                <div class="pageContact">
                    <div>
					<br>
                        <h1 class="text-center">Contactez-moi</h1>
                        {{form(contactForm)}}
                    </div>
                </div>
            </div>
        </div>

        {# FOOTER #}
        <footer class="footerContact" style="background:#0b486b">
            <div class="container">
                <div class="d-flex justify-content-evenly py-1">
                    <p class="text-center my-2"><strong>© YAKOU John | Tous droits réservés</strong></p>

                    <div>
                        <a type="button" href="https://github.com/JohnYakou?tab=repositories" target="_blank"><i class="fa-brands fa-github-square logoFontAwesome"></i></a>

                        <a type="button" href="https://www.linkedin.com/in/john-yakou-8633b41a1/" target="_blank"><i class="fa-brands fa-linkedin logoFontAwesome"></i></a>
                    </div>
                </div>
            </div>
        </footer>
    </section>
{% endblock %}