{% extends 'base.html.twig' %}

{% block title %}À propos{% endblock %}

{% block body %}
    <section class="proposimage" style="background-image: url({{ asset('assets/laptop.webp') }}); background-size:cover; background-repeat:no-repeat">
        <div class="container">
            <div class="row">
                {# <p class="text-center">Â propos de moi</p> #}
                <p class="text-center apropos"><br>Bonjour et bienvenue sur mon portfolio !<br><br>
                Je m’appelle John. De niveau bac ES, je décide de m'orienter vers la Fabrique Numérique en 2019, un FabLab, qui me donne le goût du numérique. J'ai donc continué vers l'école du web du PoleS en 2021, dispensée par WebForce3, pour devenir développeur / intégrateur web.<br><br>Aujourd’hui, je suis très motivé à travailler dans ce domaine qui me plaît.<br><br>J'utilise surtout Symfony.<br><br>Vous découvrirez dans ce portfolio, mes compétences, ainsi que les projets que j'ai pu réaliser.<br><br>Si vous avez des questions, n'hésitez pas à me contacter.<br><br></p>
            </div>
        </div>

    <footer class="footerExpe py-1" style="background:#0b486b">
    <div class="container">
        <div class="d-flex justify-content-evenly">
            <p class="text-center my-2"><strong>© YAKOU John | Tous droits réservés</strong></p>

            <div>
                <a type="button" href="https://github.com/JohnYakou?tab=repositories" target="_blank"><i class="fa-brands fa-github-square logoFontAwesome"></i></a>

                <a type="button" href="https://www.linkedin.com/in/john-yakou-8633b41a1/" target="_blank"><i class="fa-brands fa-linkedin logoFontAwesome"></i></a>
            </div>
        </div>
    </div>
</footer>
</section>
{% endblock %}
